twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
streamlit == 0.79.0
numpy == 1.19.2
pandas == 1.2.3
matplotlib == 3.4.2
wordcloud == 1.8.1
nltk == 3.6.2
nest-asyncio == 1.5.6
